## Reading Tables

In [2]:
# x <- read.table("table name")
# x <- read.csv("csv name")

# set comment.char = ""

In [3]:
y <-  data.frame(a=1, b="a")
dput(y)

structure(list(a = 1, b = structure(1L, .Label = "a", class = "factor")), .Names = c("a",
"b"), row.names = c(NA, -1L), class = "data.frame")

In [4]:
dput(y, file = "y.R")
new.y <- dget("y.R")
new.y

  a b
1 1 a

## Binary

In [6]:
a <- data.frame(x = rnorm(100), y = runif(100))
b <- c(3,3.4,1/3)

In [7]:
save(a,b, file = "mydata.rda")

In [8]:
load("mydata.rda")

In [9]:
# if there are lot of objects
## Save everything to a file
save.image(file = "mydata.RData")

## load all objects in this file
load("mydata.RData")

In [11]:
x <- list(1, 2, 3)
serialize(x, NULL)
# hexadecimal format

 [1] 58 0a 00 00 00 02 00 03 01 03 00 02 03 00 00 00 00 13 00 00 00 03 00 00 00
[26] 0e 00 00 00 01 3f f0 00 00 00 00 00 00 00 00 00 0e 00 00 00 01 40 00 00 00
[51] 00 00 00 00 00 00 00 0e 00 00 00 01 40 08 00 00 00 00 00 00

If you want, this can be sent to a file, but in that case you are better off using something like save().
The benefit of the serialize() function is that it is the only way to perfectly represent an R object
in an exportable format, without losing precision or any metadata. If that is what you need, then
serialize() is the function for you.

In [14]:
con <- url("http://www.jhsph.edu", "r")
x <- readLines(con)
print(head(x))

[1] "<!DOCTYPE html>"
[2] "<html lang=\"en\">"
[3] ""
[4] "<head>"
[5] "<meta charset=\"utf-8\" />"
[6] "<title>Johns Hopkins Bloomberg School of Public Health</title>"

## Subsetting

In [16]:
x <- list(foo = 1:4, bar = 0.6)
x[[1]]

[1] 1 2 3 4

In [17]:
x[[2]]

[1] 0.6

In [18]:
x[["bar"]]

[1] 0.6

In [19]:
x[["foo"]]

[1] 1 2 3 4

In [20]:
x$bar

[1] 0.6

In [21]:
x$foo

[1] 1 2 3 4

In [23]:
x <- matrix(1:6, 2, 3)
x

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

In [24]:
x[1,]

[1] 1 3 5

In [25]:
x[,2]

[1] 3 4

In [26]:
# $ can not be used with variables

In [29]:
x <- list(a=c(10,11,12), b=c(3.14, 3.75))
x[[c(1,2)]]

[1] 11

In [32]:
x[[1]][[2]]

[1] 11

In [34]:
x <- list(abc = 1:3)
x$a    # matches partially and with no other element

[1] 1 2 3

In [35]:
x[["a"]]

NULL

In [36]:
x[["a", exact = F]]

[1] 1 2 3

## removing missing value

In [46]:
x <- c(1, 2, NA, 4, NA, 6, NaN)
bad <- is.na(x)
print(bad)

[1] FALSE FALSE  TRUE FALSE  TRUE FALSE  TRUE

In [47]:
x[!bad]

[1] 1 2 4 6