### Quiz Questions

In [2]:
x <- c(1,3,5)
y <- c(3,2,10)
rbind(x,y)

  [,1] [,2] [,3]
x    1    3    5
y    3    2   10

In [5]:
x <- list(2, "a", "b", TRUE)
x[[2]]

[1] "a"

In [6]:
x <- 1:4
y <- 2:3
x+y

[1] 3 5 5 7

In [7]:
x <- c(3, 5, 1, 10, 12, 6)
x[x<6] <- 0
x

[1]  0  0  0 10 12  6

In [9]:
x <- c(17, 14, 4, 5, 13, 12, 10)
x[x>10] <- 4
x

[1]  4  4  4  5  4  4 10

In [105]:
f <- read.csv("hw1_data.csv")
colnames(f)
#can also use names(f)

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

In [103]:
head(f, 2)

#also we can use f[1:2, ]

  Ozone Solar.R Wind Temp Month Day
1    41     190  7.4   67     5   1
2    36     118  8.0   72     5   2

In [21]:
nrow(f)

[1] 153

In [30]:
tail(f, 2)

    Ozone Solar.R Wind Temp Month Day
152    18     131  8.0   76     9  29
153    20     223 11.5   68     9  30

In [37]:
f[47, "Ozone"]

[1] 21

In [108]:
bad <- is.na(f$Ozone)
sum(bad)
# or
nrow(f) - sum(complete.cases(f$Ozone))

[1] 37

[1] 37

In [49]:
mean(f$Ozone, na.rm = T)

[1] 42.12931

In [109]:
fmean <- subset(f, (f$Ozone > 31 & f$Temp > 90), select = Solar.R)
apply(fmean, 2, mean)
# apply(data.frame, 1 means rows 2 means column, function to be applied)
# also mean(fmean$Solar.R)

Solar.R
  212.8

In [92]:
fmean2 <- subset(f, (f$Month == 6), select = Temp)
apply(fmean2, 2, mean)

# also mean(fmean2$Temp)

Temp
79.1

In [89]:
fmax <- subset(f, f$Month == 5 & !is.na(Ozone), select = Ozone)
apply(fmax, 2, max)

# also max(fmax$Ozone)

Ozone
  115