In [ ]:
## Basic

In [1]:
x <- 1:20
x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [2]:
as.character(x)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20"

In [24]:
as.logical(x)    # explicite conversion

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[16] TRUE TRUE TRUE TRUE TRUE

In [4]:
as.complex(x)

 [1]  1+0i  2+0i  3+0i  4+0i  5+0i  6+0i  7+0i  8+0i  9+0i 10+0i 11+0i 12+0i
[13] 13+0i 14+0i 15+0i 16+0i 17+0i 18+0i 19+0i 20+0i

## Vector

In [23]:
x <- c(1:20)  # vectors should be of same type, if ther are not they will be
              # converted inplicitly into same type

print(x)
print(x[15])
class(x)      # tells the type of vector

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
[1] 15

[1] "integer"

In [12]:
y <- c(15,"sid", 3.14, 1+5i, TRUE, "hahaha")     #all objects will be converted to string
print(y)

[1] "15"     "sid"    "3.14"   "1+5i"   "TRUE"   "hahaha"

In [15]:
print(c(1, TRUE))  # conversion to int
print(c(1, 'abc')) # conversion to string

[1] 1 1
[1] "1"   "abc"

## Lists

In [18]:
x <- list(15,"sid", 3.14, 1+5i, TRUE, "hahaha")    # no conversion, list can hold muliple type objects
print(x)

[[1]]
[1] 15

[[2]]
[1] "sid"

[[3]]
[1] 3.14

[[4]]
[1] 1+5i

[[5]]
[1] TRUE

[[6]]
[1] "hahaha"

## Matrices

In [27]:
m <- matrix(nrow = 2, ncol = 3)
print(m)
dim(m)
attributes(m)

     [,1] [,2] [,3]
[1,]   NA   NA   NA
[2,]   NA   NA   NA

[1] 2 3

$dim
[1] 2 3

In [30]:
m <- matrix(1:6, nrow = 2, ncol = 3, byrow = T)
# by default byrow is False, so values are populated column wise
print(m)
m

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6

In [34]:
m <- 1:10           # making vector
dim(m)
attributes(m)
dim(m) <- c(2,5)    # setting dim to 2 by 5, thus converting into matrix
dim(m)
attributes(m)
m

NULL

NULL

[1] 2 5

$dim
[1] 2 5

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    3    5    7    9
[2,]    2    4    6    8   10

In [37]:
# binding two vectors to create matrix
x <- 1:3
y <- 10:12
cbind(x,y)

     x  y
[1,] 1 10
[2,] 2 11
[3,] 3 12

In [36]:
rbind(x,y)

  [,1] [,2] [,3]
x    1    2    3
y   10   11   12

## Factors
##### Factors are used to represent categorical data and can be unordered or ordered

In [44]:
x <- factor(c("yes", "yes", "no", "yes", "no", "lol"))
x

[1] yes yes no  yes no  lol
Levels: lol no yes

In [50]:
print(x)     # will print the levels alphabetical order
table(x)
unclass(x)
attr(x, "levels")

[1] yes yes no  yes no
Levels: yes no

x
yes  no
  3   2

[1] 1 1 2 1 2
attr(,"levels")
[1] "yes" "no"

[1] "yes" "no"

In [49]:
x <- factor(c("yes", "yes", "no", "yes", "no"),
levels = c("yes", "no"))
print(x)

[1] yes yes no  yes no
Levels: yes no

## Missing Values

In [51]:
x <- c(1, 2, NaN, NA, 4)
print(x)

[1]   1   2 NaN  NA   4

In [54]:
is.na(x)
is.nan(x)

[1] FALSE FALSE  TRUE  TRUE FALSE

[1] FALSE FALSE  TRUE FALSE FALSE

## Data Frames

Data frames are used to store tabular data in R.
package dplyr has an optimized set of functions designed to work efficiently with data frames.

Data frames creation : read.table() or read.csv()

can also be created explicitly with the data.frame()

convert data frame into matrix : data.matrix()

In [57]:
x <- data.frame(foo = 1:4, bar = c(T, T, F, F))
print(x)
nrow(x)
ncol(x)

  foo   bar
1   1  TRUE
2   2  TRUE
3   3 FALSE
4   4 FALSE

[1] 4

[1] 2

In [56]:
x

  foo   bar
1   1  TRUE
2   2  TRUE
3   3 FALSE
4   4 FALSE

## Names

In [58]:
x <- 1:3
names(x)

NULL

In [61]:
names(x) <- c("Sid", "SlimShady", "Eminem")
names(x)
x

[1] "Sid"       "SlimShady" "Eminem"

      Sid SlimShady    Eminem
        1         2         3

In [62]:
x <- list("City" = "Lucknow", "Pin" = 226024, "Own" = TRUE)
x

$City
[1] "Lucknow"

$Pin
[1] 226024

$Own
[1] TRUE

In [63]:
names(x)

[1] "City" "Pin"  "Own"

In [64]:
m <- matrix(1:4, nrow = 2, ncol = 2)
dimnames(m) <- list(c("a", "b"), c("c", "d"))
m

  c d
a 1 3
b 2 4

In [65]:
colnames(m) <- c("col1", "col2")
row.names(m) <- c("row1", "row2")
m

     col1 col2
row1    1    3
row2    2    4

In [66]:
m <- matrix(c("names()", "row.names()", "colnames()", "rownames()"), nrow = 2, ncol = 2, byrow = T)
rownames(m) <- c("data frame", "matrix")
colnames(m) <- c("set column names", "set row names")
m

           set column names set row names
data frame "names()"        "row.names()"
matrix     "colnames()"     "rownames()"