In [ ]:
## Basic

In [1]:
x <- 1:20
x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [2]:
as.character(x)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20"

In [24]:
as.logical(x)    # explicite conversion

 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[16] TRUE TRUE TRUE TRUE TRUE

In [4]:
as.complex(x)

 [1]  1+0i  2+0i  3+0i  4+0i  5+0i  6+0i  7+0i  8+0i  9+0i 10+0i 11+0i 12+0i
[13] 13+0i 14+0i 15+0i 16+0i 17+0i 18+0i 19+0i 20+0i

## Vector

In [23]:
x <- c(1:20)  # vectors should be of same type, if ther are not they will be
              # converted inplicitly into same type

print(x)
print(x[15])
class(x)      # tells the type of vector

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
[1] 15

[1] "integer"

In [12]:
y <- c(15,"sid", 3.14, 1+5i, TRUE, "hahaha")     #all objects will be converted to string
print(y)

[1] "15"     "sid"    "3.14"   "1+5i"   "TRUE"   "hahaha"

In [15]:
print(c(1, TRUE))  # conversion to int
print(c(1, 'abc')) # conversion to string

[1] 1 1
[1] "1"   "abc"

## Lists

In [18]:
x <- list(15,"sid", 3.14, 1+5i, TRUE, "hahaha")    # no conversion, list can hold muliple type objects
print(x)

[[1]]
[1] 15

[[2]]
[1] "sid"

[[3]]
[1] 3.14

[[4]]
[1] 1+5i

[[5]]
[1] TRUE

[[6]]
[1] "hahaha"

## Matrices

In [27]:
m <- matrix(nrow = 2, ncol = 3)
print(m)
dim(m)
attributes(m)

     [,1] [,2] [,3]
[1,]   NA   NA   NA
[2,]   NA   NA   NA

[1] 2 3

$dim
[1] 2 3

In [30]:
m <- matrix(1:6, nrow = 2, ncol = 3, byrow = T)
# by default byrow is False, so values are populated column wise
print(m)
m

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6

In [34]:
m <- 1:10           # making vector
dim(m)
attributes(m)
dim(m) <- c(2,5)    # setting dim to 2 by 5, thus converting into matrix
dim(m)
attributes(m)
m

NULL

NULL

[1] 2 5

$dim
[1] 2 5

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    3    5    7    9
[2,]    2    4    6    8   10

In [37]:
# binding two vectors to create matrix
x <- 1:3
y <- 10:12
cbind(x,y)

     x  y
[1,] 1 10
[2,] 2 11
[3,] 3 12

In [36]:
rbind(x,y)

  [,1] [,2] [,3]
x    1    2    3
y   10   11   12